/* ----- LOGIN PAGE CSS ----- */
.div-container-LoginPage {
  transform: scale(1.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10%;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form input {
  width: 100%;
  padding: 12px 20px;
  margin: 5px 0;
  display: inline-block;
  box-sizing: border-box;
}

.login-form button {
  background-color: rgb(114, 57, 57);
  color: wheat;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.login-form #wrongPassword {
  padding: 10px;
}

/* ----- END OF LOGIN PAGE CSS ----- */

/* ----- THEDVT PAGE CSS -----*/
/* ----- TOP BAR WITH TITLE AND LOGOUT BUTTON ----- */
.main-nav {
  background-color: rgb(160, 160, 160);
}

.main-nav button {
  float: right;
  color: rgb(80, 80, 80);
  padding: 1.3em 1.7em;
  font-size: 15px;
  border-radius: 0.5em;
  background: rgb(211, 209, 209);
  border: 1px solid rgb(209, 209, 209);
  transition: all .3s;
  box-shadow: 6px 6px 12px rgb(75, 75, 75), -6px -6px 12px rgb(185, 185, 185);
  margin: 25px;
}

.main-nav button:hover {
  border: 1px solid rgb(214, 214, 214);
  background: rgb(107, 107, 107);
  color: rgb(204, 204, 204);
  cursor: pointer;
}

.main-nav h1 {
  display: inline-block;
  margin-left: 44%;
  font-size: 45px;
  letter-spacing: 10px;
}

/* ----- START BUTTON AND MESSAGE CSS -----  */
.start-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

.GraphCanvas-button {
  width: 100%;
  padding: 0.5em;
  border: none;
  background-color: rgb(231, 231, 231);
  font-size: 30px;
  letter-spacing: 10px;
  transition: all .3s;
}

.start-container button:hover {
  cursor: pointer;
  background-color: rgb(204, 204, 204);
  border: 1px thick lightgrey;
}

.GraphCanvas-clear {
  width: 100%;
  padding: 0.5em;
  border: none;
  background-color: rgb(231, 231, 231);
  font-size: 10px;
  letter-spacing: 10px;
}

/* ----- SEARCH AND PATHFINDING FEATURES CSS ----- */
.div-container-search {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1);
}

.SimpleSearchForm, .GraphQueryForm {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.SimpleSearchForm label, .GraphQueryForm label{
  font-size: 1.3em;
  padding: 10px;
}

.SimpleSearchForm textarea, .GraphQueryForm textarea {
  width: 80%;
  border: none;
  background-color: lightgray;
  font-size: 1.3em;
}

.SimpleSearchForm button, .GraphQueryForm button, .TwoPathForm button {
  width: 80%;
  padding: 5px;
  transition: all .3s;
}

.SimpleSearchForm button:hover, .GraphQueryForm button:hover, .TwoPathForm button:hover {
  background-color: darkgray;
  color: white;
  cursor: pointer;
}

.div-container-Connections {
  width: 30%;
}

.TwoPathForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.TwoPathForm p {
  font-size: 1.3em;
}

.TwoPathForm label {
  padding-right: 10px;
  font-size: 20px;
}

.TwoPathForm select {
  padding: 0.6em 0.2em;
  width: 15em;
  margin: 10px 0;
  border-radius: 1em;
}

/* ----- FILTER BOX GRAPH VISUALISATION AND DESCRIPTION BOX ----- */

.div-container-GraphCanvas-content {
  display: flex;
}

#viz {
  width: 100%;
}

.filterBoxForm {
  position: absolute;
  margin: 25px;
  background-color: white;
  opacity: 50%;
  color: black;
  font-size: 1em;
}

.filterBoxForm input[type=submit] {
  width: 100%;
  padding: 5px;
  transition: all .3s;
  border: none;
  height: 2.3em;
}

.filterBoxForm input[type=submit]:hover {
  background-color: darkgray;
  color: white;
  cursor: pointer;
}

.PanelInfo {
  position: absolute;
  margin: 25px;
  right: 20px;
  width: 20%;
  background-color: white;
  opacity: 50%;
  color: black;
  font-size: 1.4em;
}

/* ----- VISUAL TABLES AT BOTTOM OF PAGE CSS ----- */
.div-container-TableCanvas {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.div-container-TableCanvas p {
  font-size: 30px;
}

.relsCountRects:hover, .nodeCountRects:hover {
  opacity: 70%;
  cursor: pointer;
}